.Hotspot {
    background-color: #ffffff;
    color: rgb(9, 47, 34);
    border-radius: 3px;
    padding: 3px;
}
.larger-example {
    width: 600px;
    height: 500px;
    background-color: rgb(208, 198, 182);
}
#model-info {
    display: none;
}
.visible {
    display: block;
}

header {
    background-image: url('../images/1.webp'); /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: white; /* Text color on top of the image */
    text-align: center;
    padding: 100px; /* Adjust padding to suit your design */
}